*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

html {
    background: #fff;
    color:#555;
    font-family: 'lato', 'arial', 'sans-seriff';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row{
    margin:0 auto;
}

h1{
    margin-top:0;
    margin-bottom:20px;
    width:1140px;
    color: #fff;
    font-size:240%;
    font-weight:300;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-transform: uppercase;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(255, 255, 255, 0.7)),url('img/hero.jpg');
    background-size:cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.btn{
    display: inline-block;
    border-radius: 200px;
    padding: 10px 30px;
    text-decoration: none;
    border: 1px solid #e87e04;
    font-weight: 300;
}

.btn-full{
    color: #fff;
    background-color: #fb8f13;
}

.btn-ghost{
    color: #fb8f13;
}

