/***light-orange:#fb8f13
****dark-orange:#e87e04
***********/
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

html {
    background: #fff;
    color:#555;
    font-family: 'lato', 'arial', 'sans-seriff';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix{
    clear:both;
}

/* .clearfix{
    zoom: 1;
}
clearfix::after{
    content:'.';
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
} */

.header-row{
    max-width: 1140px;
    margin: 0 auto;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

/************************************/
/***********PARAGRAPHS***************/
/************************************/

.long-copy{
    line-height: 140%;
    width:70%;
    margin-left:15%;
}

/************************************/
/***********HEADINGS*****************/
/************************************/

h1,
h2,
h3{
    font-weight:300;
    text-transform: uppercase;
}

h1{
    margin-top:0;
    margin-bottom:20px;
    color: #fff;
    font-size:240%;
    word-spacing: 4px;
    width:1140px;
    letter-spacing: 1px;
    
}

h2{
    font-size:180%;
    word-spacing: 4px;
    text-align: center;
    margin-bottom:30px;  
    letter-spacing: 1px;
}

h3{
    font-size:110%;
    margin-bottom: 15px;
}

h2:after {
    display:block;
    height:2px;
    width:100px;
    background-color:#e87e04;
    content:"";
    margin: 15px auto 0 auto;
}

.box p{
    font-size:90%;
    line-height:145%;
}

/*---------------------------------------------------*/
/*----------------ICONS SECTION-------------------*/
/*---------------------------------------------------*/

.icon-big{
    color: #e87e04;
    font-size:350%;
    margin-bottom:10px;

}

/*-----------------------------------------------*/
/*-----------BUTTON SECTION----------------------*/
/*-----------------------------------------------*/
.btn:link, 
.btn:active,
.btn:visited{
    display: inline-block;
    border-radius: 200px;
    padding: 10px 30px;
    text-decoration: none;
    border: 1px solid #fb8f13;
    font-weight: 300;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
    color:#fff;
}

.btn-full:link, 
.btn-full:active,
.btn-full:visited{
    background-color: #fb8f13;
    margin: 15px;
}

.btn:hover{
    background-color: #e87e04;
    border: 1px solid #e87e04;
}

/*-----------------------------------------------*/
/*-----------HEADER SECTION----------------------*/
/*-----------------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(255, 255, 255, 0.7)),url('img/hero.jpg');
    background-size:cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.logo{
    height: 100px;
    width:auto;
    float:left;
    margin-top: 20px;
    margin-left: 10px;
}

.main-nav{
    float:right;
    list-style: none;
    margin-top:55px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size:90%;
    padding:8px 0;
    transform: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e87e04;
}

section {
    padding: 40px 0;
}

.box{
    padding:1%;
}

/****************************************************/
/***************SECTION FEATURES*********************/
/****************************************************/
.secton-features .long-copy{
    margin-bottom: 30px;
}

/****************************************************/
/***************MEALS SECTION************************/
/****************************************************/

.section-meals{
    padding: 0;
}

.meals-showcase{
    list-style: none;
    width:100%;
}

.meals-showcase li{
    float:left;
    width:25%;
}

.meal-photo{
    margin:0;
    overflow:hidden;
    background-color:black;
}

.meal-photo img{
    width:100%;
    transform: scale(1.15);
    opacity:0.7;
}

.meal-photo img:hover{
    transform: scale(1.03);
    opacity:1;
    transition: opacity 0.5s, transform 0.5s;
}

/****************************************************************/
/******************Steps Section*********************************/
/****************************************************************/

.section-steps{
    background-color: #f4f4f4;
}

.steps-box:first-child{
    text-align: right;
    padding-right:3%;
    margin-top: 30px;
}

.steps-box:last-child{
    padding-left:3%;
    margin-top:70px;
    margin-bottom:70px;
}

.app-screen{
    width:40%;
}

.btn-app{
    height: 50px;
    margin-right: 10px;
}

.works-step{
    margin-bottom: 50px;
}

.works-step div{
    /* display:inline-block; */
    color: #fb8f13;
    padding :5px;
    text-align: center;
    border-radius: 50%;
    height:55px;
    width: 55px;
    border: 2px solid #fb8f13;
    float:left;
    font-size:150%;
    margin-right: 25px;
}

/****************************************************/
/***************CITIES SECTION************************/
/****************************************************/

.city-images-box
{
    margin:0;
}

.city-image {
    margin:0px;
    background-color:black;
    overflow:hidden;
}

.city-image img{
    display: inline-block;
    width:100%;
    transform: scale(1.2);
    opacity: 0.7;
}

.city-image img:hover{
    transform: scale(1.06);
    opacity:1;
    transition: transform 0.2s, opacity 0.2s;
}
