*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

html {
    background: #fff;
    color:#555;
    font-family: 'lato', 'arial', 'sans-seriff';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.header-row{
    position:absolute;
    max-width: 1140px;
    margin: 0 auto;
    transform: translate(40%,0);
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

h1{
    margin-top:0;
    margin-bottom:20px;
    width:1140px;
    color: #fff;
    font-size:240%;
    font-weight:300;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-transform: uppercase;
}

/*-----------------------------------------------*/
/*-----------BUTTON SECTION----------------------*/
/*-----------------------------------------------*/
.btn:link, 
.btn:active{
    display: inline-block;
    border-radius: 200px;
    padding: 10px 30px;
    text-decoration: none;
    border: 1px solid #fb8f13;
    font-weight: 300;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
    color:#fff;
}

.btn-ghost:link, 
.btn-ghost:active{
}

.btn-full:link, 
.btn-full:active{
    background-color: #fb8f13;
    margin: 15px;
}

.btn:hover{
    background-color: #e87e04;
    border: 1px solid #e87e04;
}

/*-----------------------------------------------*/
/*-----------HEADER SECTION----------------------*/
/*-----------------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(255, 255, 255, 0.7)),url('img/hero.jpg');
    background-size:cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.logo{
    height: 100px;
    width:auto;
    float:left;
    margin-top: 20px;
}

.main-nav{
    float:right;
    list-style: none;
    margin-top:55px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size:90%;
    padding:8px 0;
    transform: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e87e04;
}